
button{
    color: black;
}

.col{
    background-color: #FFA500;
}
.button{
    background-color: white;
    color: 2px black;
    height: 40px;
    width: 60px;
    margin-top: 5px;
    border-radius: 100px;
    border: solid #FFA500;
  
}

.rr{
    background-color: antiquewhite;
}
input{
    border: solid 2px black;
    
}